<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.epistimis.com/face/templ/Templ"
			class = "com.epistimis.face.templ.templ.TemplPackage"
			genModel = "model/generated/Templ.genmodel" />
	</extension>
</plugin>
